.messages {
    flex: 0.8;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
}

.messages > * {
    margin-bottom: 10px;
}

.message__recipient {
    background-color: #f5ccc2;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.message__recipient-message {
    margin: 0;
}

.message__sender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
}

.message__chats > p {
    font-size: 13px;
}

.sender__name {
    margin: 0;
    text-align: right;
}